<div class="card">
  <div class="card-header">
    {{ data?.nama }}
  </div>
  <div class="card-body">
    <h5 class="card-title">Saya berumur {{ data?.umur }} Tahun</h5>
    <p class="card-text">Status Karyawan {{ data.status ? 'Aktif' : 'Tidak Aktif' }}</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
