<!-- <div class="container-login col-md-12 offset-md-12 p-4">
  <div class="col-md-4 offset-md-4">
    <div class="card bg-light">
      <h6 class="card-header p-4">Login</h6>
      <div class="card-body bg-light">
        <form class="forms-sample">
          <div class="form-group p-2">
            <label class= "username pb-2">Username</label>
            <input type="text" class="form-control form-control-sm" placeholder="Username" [(ngModel)]="username" name="username">
          </div>
          <div class="form-group p-2">
            <label class= "username pb-2">Password</label>
            <input type="password" class="form-control form-control-sm" placeholder="Password" [(ngModel)]="password" name="password">
          </div>
          <br>
          <button type="submit" class="btn btn-primary mr-2 float-end" (click)="doLogin()">Login</button>
        </form>
      </div>
    </div>
    <br>
  </div>

</div> -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Template</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Users/riksapradipta/Documents/angularastra/astrapay copy/src/app/pages/login/login.component.css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="assets/images/nulocalogo.png" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Log in</h1>
            <form action="#!">
              <div class="form-group">
                <label for="email">Username</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Username" [(ngModel)]="username">
              </div>
              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword" [(ngModel)]="password" >
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Login" (click)="doLogin()" routerLink="/Manageusers"
              routerLinkActive="router-link-active">
            </form>

          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="assets/images/login.jpg" alt="login image" class="login-img">
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
