<div class="container">
  <table class="table table-bordered table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Product Name</th>
      <th>Category ID</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let Product of Products">
      <td><span>{{Products.idproduct}}</span></td>
      <td><span>{{Products.nameproduct}}</span></td>
      <td><span>{{Products.idcategory}}</span></td>
    </tr>
    </tbody>
  </table>
</div>
